<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ee6fee">  <td>24/01/19 12:05:18</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_Data_Driven.Test_setup()[pri:0, instance:testNG_Validation.TestNG_Data_Driven@14028087]">&gt;&gt;Test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@125994398</td>   <td></td> </tr>
<tr bgcolor="ee6fee">  <td>24/01/19 12:05:27</td>   <td>9025</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_Data_Driven.Test_teardown()[pri:0, instance:testNG_Validation.TestNG_Data_Driven@14028087]">&lt;&lt;Test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@125994398</td>   <td></td> </tr>
<tr bgcolor="ee6fee">  <td>24/01/19 12:05:26</td>   <td>7920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Data_Driven.post_Executor(java.lang.String,java.lang.String)[pri:0, instance:testNG_Validation.TestNG_Data_Driven@14028087]">post_Executor</td> 
  <td>main@125994398</td>   <td></td> </tr>
<tr bgcolor="ee6fee">  <td>24/01/19 12:05:26</td>   <td>7920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Data_Driven.post_Executor(java.lang.String,java.lang.String)[pri:0, instance:testNG_Validation.TestNG_Data_Driven@14028087]">post_Executor</td> 
  <td>main@125994398</td>   <td></td> </tr>
<tr bgcolor="ee6fee">  <td>24/01/19 12:05:26</td>   <td>7920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Data_Driven.post_Executor(java.lang.String,java.lang.String)[pri:0, instance:testNG_Validation.TestNG_Data_Driven@14028087]">post_Executor</td> 
  <td>main@125994398</td>   <td></td> </tr>
</table>
