<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>RestAPI_Suite_Sprint.1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="92a28a">  <td>24/01/19 12:46:43</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestClass_post_testNG_parameterisation.Test_setup()[pri:0, instance:testClass_testNGfile_Parameterisation.TestClass_post_testNG_parameterisation@cc43f62]">&gt;&gt;Test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@635371680</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>24/01/19 12:46:50</td>   <td>6768</td> <td>&nbsp;</td><td title="&lt;&lt;TestClass_post_testNG_parameterisation.Test_teardown()[pri:0, instance:testClass_testNGfile_Parameterisation.TestClass_post_testNG_parameterisation@cc43f62]">&lt;&lt;Test_teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@635371680</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>24/01/19 12:46:49</td>   <td>5847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass_post_testNG_parameterisation.post_Executor(java.lang.String,java.lang.String)[pri:0, instance:testClass_testNGfile_Parameterisation.TestClass_post_testNG_parameterisation@cc43f62]">post_Executor</td> 
  <td>main@635371680</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>24/01/19 12:46:49</td>   <td>5847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass_post_testNG_parameterisation.post_Executor(java.lang.String,java.lang.String)[pri:0, instance:testClass_testNGfile_Parameterisation.TestClass_post_testNG_parameterisation@cc43f62]">post_Executor</td> 
  <td>main@635371680</td>   <td></td> </tr>
<tr bgcolor="92a28a">  <td>24/01/19 12:46:49</td>   <td>5847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass_post_testNG_parameterisation.post_Executor(java.lang.String,java.lang.String)[pri:0, instance:testClass_testNGfile_Parameterisation.TestClass_post_testNG_parameterisation@cc43f62]">post_Executor</td> 
  <td>main@635371680</td>   <td></td> </tr>
</table>
